<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<bean name="hello" class="com.first.one.HelloWorld.Greeting">
	</bean>
	<bean name="emp" class="com.first.one.HelloWorld.Employee"
		p:id="1004" p:name="angel"></bean>
	<bean name="person" class="com.first.one.HelloWorld.Person">
		<property name="id" value="100"></property>
		<property name="name" value="Booboo"></property>
		<property name="age" value="11"></property>

	</bean>
	<bean name="base" class="com.first.one.HelloWorld.Base">
		<property name="name">
			<value>Area 51	</value>
		</property>
		<property name="branch">
			<list>
				<value>defense</value>
				<value>Central Command</value>
				<value>Radar</value>
			</list>
		</property>


	</bean>
	<bean name="client" class="com.first.one.HelloWorld.Client"
		p:number="404">
		<property name="orders">
			<map>
				<entry key="1" value="Bazooka"></entry>
				<entry key="2" value="Sweeper"></entry>
				<entry key="3" value="Tank"></entry>


			</map>


		</property>








	</bean>
</beans>